<div>
    <div class="text-center"><h3>Task List</h3></div>
    <div>
        <div class="table-responsive">
            <table class="table table-striped" *ngIf = 'taskList && taskList.length'>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = "let task of taskList">
                        <td>{{ task.taskId }}</td>
                        <td>{{ task.taskTitle }}</td>
                        <td>{{ task.taskDesc }}</td>
                        <td>{{ task.startDate }}</td>
                        <td>{{ task.endDate }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>